<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ansible checkup</title>
<style>
    table {
        border:3px solid #6495ed;
        border-collapse:collapse;
        width:90%;
        margin:20px auto;
    }
    thead, tfoot {
        background-color:#D0E3FA;
        border:1px solid #6495ed;
    }
    tbody {
        background-color:#FFFFFF;
        border:1px solid #6495ed;
    }
    tr { max-height: 50px; }
    th {
        font-family:monospace;
        border:1px dotted #6495ed;
        padding:5px;
        background-color:#EFF6FF;
    }
    thead th{
        background-color:#b9d7ff;
    }
    td {
        font-family:sans-serif;
        font-size:80%;
        border:1px solid #6495ed;
        padding:5px;
        text-align:left;
        white-space: nowrap;
    }
    .sized{
        max-width: 400px;
        max-height: 400px;
        min-width: 100%;
        min-height: 100%;
        overflow: auto;
    }
    .error * { color: red; }
    .ok{ color: green; }
    .ko{ color: red; }
</style>
</head>

<body>
<i>Generation date : {{ ansible_date_time.date }} {{ ansible_date_time.time }}</i>
<br />
<table>
<thead>
    <tr>
        <th>Host</th>
        <th>OS</th>
        <th>Need reboot</th>
        <th>Server Date</th>
        <th>Ansible groups</th>
        <th>User and ssh keys</th>
        <th>IPv4/IPv6 Addresses</th>
        <th>UFW Rules</th>
        <th>Swap</th>
        {% if checkup_print_details %}<th>Host vars</th>{% endif %}
    </tr>
</thead>
<tbody>
{% for i in play_hosts | sort %}
{% if hostvars[i].ansible_date_time is defined %}
    <tr>
        <th>{{ i }}</th>
        <td>{{ hostvars[i].ansible_lsb.description }}</td>
        <td class="{{ hostvars[i].need_reboot.stat.exists | ternary('ko', 'ok') }}">{{ hostvars[i].need_reboot.stat.exists | ternary('Yes', 'No') }}</td>
        <td>{{ hostvars[i].ansible_date_time.date }} {{ hostvars[i].ansible_date_time.time }}</td>
        <td><pre><code>{{ hostvars[i].group_names | to_nice_yaml(indent=2) }}</code></pre></td>
        <td><div class="sized">
            {% for user in hostvars[i].all_users_sshkeys.results | sort %}
                {% if user.stdout_lines %}
                    {{ user.item }} :<ul>
                    {% for sshkey in user.stdout_lines | select("match", "ssh.*") | list | sort %}
                    <li>{{ sshkey[0:15] }}...{{ sshkey[-20:] }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endfor %}
            {% for user in hostvars[i].all_users_sshkeys.results | sort %}
                {% if not user.stdout_lines %}{{ user.item }}<br>{% endif %}
            {% endfor %}
        </div></td>
        <td>
            <pre><code>{{ hostvars[i].ansible_all_ipv4_addresses | to_nice_yaml(indent=2) }}</code></pre>
            <pre><code>{{ hostvars[i].ansible_all_ipv6_addresses | to_nice_yaml(indent=2) }}</code></pre>
        </td>
        <td><pre><code>{{ hostvars[i].ufw_status.stdout | default('') }}</code></pre></td>
        <td>{{ hostvars[i].ansible_memory_mb.swap.used }}/{{ hostvars[i].ansible_memory_mb.swap.total }} MB</td>
        {% if checkup_print_details %}<td><pre class="sized"><code>{{ hostvars[i] | to_nice_yaml(indent=2) }}</code></pre></td>{% endif %}
    </tr>
{% else %}
    <tr class="error">
        <th>{{ i }}</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {% if checkup_print_details %}<td></td>{% endif %}
    </tr>
{% endif %}
{% endfor %}
</tbody>
</table>
</body>

</html>